<div class="geral">
  <div class="border">
    <div class="link">
      <p><a href="https://github.com/rafaellylemos" target="_blank" rel="noopener noreferrer">Github</a></p>
    </div>
  </div>
  <div class="border">
    <div class="link">
      <p><a href="https://www.linkedin.com/in/rafaelly-lemos/" target="_blank" rel="noopener noreferrer">Linkedin</a></p>
    </div>
  </div>
  <div class="border">
    <div class="link">
      <p><a href="mailto:rafaellylemos@hotmail.com">E-mail</a></p>
    </div>
  </div>
  <div class="border">
    <div class="link">
      <p><a href="https://api.whatsapp.com/send?phone=5581998460022">WhatsApp</a></p>
    </div>
  </div>
</div>
